/*THANKS SO MUCH MICROSOFT JAPAN!!!!*/
/*Note: Some dude from MICROSOFT coded this, I don't know how to do this, but I know
 how most of this coding works. I have edited this so that the coding works
 the way I like it*/
/* ==========================================================================
 CSS SETTING
 by Hiroaki WAKATSUKI
 Converted 2014/2/16
 ========================================================================== */
/*I will comment on the parts that I know what they do.*/
/*Otherwise, ill put "I Dont Know." Its Microsoft, for god sake*/
/*I don't know*/
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/*????*/
img, object, embed {
	max-width: 100%;
	height: auto;
}

object, embed {
	height: 100%;
}
/*Left goes left*/
/*right goes right*/
/*I don't know*/
/*I don't know*/
/*Self Explanatory*/



/*I don't know...Yeah right.*/
/*I don't know*/
/*Img css*/
img {
	display: inline-block;
	vertical-align: middle;
}
/*text area css*/
textarea {
	height: auto;
	min-height: 50px;
}
/*?*/
select {
	width: 100%;
}
/*I don't know*/
i {
	font-style: normal;
}
/*I don't know*/
/*gradient for button class*/

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
	padding: 0;
	margin: 0;
}
/*rows*/
/*HOW ROWS WORKS*/
/*It splits the page into collumns.
 Row 1 is 1/12 of the page
 Row 6 is 1/2 of the page
 etc.
 */
.row {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 69.9em;
	*zoom: 1;
}
/*Different rows*/
.row .grid-6, .row .grid-12 {
	float: left;
	margin-left: 0.9%;
	margin-right: 0.9%;
}






.row .grid-6 {
	width: 48.2%;
}






.row .grid-12 {
	width: 98.2%;
}
/*I don't know*/
.row:before, .row:after {
	content: " ";
	display: table;
}
/*I don't know*/
.row:after {
	clear: both;
}
/*I don't know*/







/*I don't know*/
@media only screen and (max-width: 40em) {
	.row .grid-6, .row .grid-12 {
		float: none;
		width: 100% !important;
		margin: 0 !important;
		position: static !important;
	}
}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */
/*I did not write the comment above this*/
/*I don't know*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

body, html {
	height: 100%;
}